<div class='container px-5 px-sm-0'>
  <div class='row'>
<h1>Follows Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
     <% if @user.followings.count == 0 %>
      <td><p>ユーザーはいません</p></td>
     <% else %>
      <% @user.followings.each do |user| %>
     <tr>
       <td><%= attachment_image_tag(user, :profile_image, :fill,50,50,fallback: "no-image-icon.jpg") %></td>
       <td><%= user.name %></td>
       <td><%= "フォロー数:#{user.follower.count}" %></td>
       <td><%= "フォロワー数:#{user.followed.count}" %></td>
       <td><%= link_to 'Show', user_path(user),  class: "user_#{user.id}" %></td>
       <% end %>
     </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
